:root {
  --background: #f1f2f4;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #001529;
    --foreground: #ededed;
  }
} */

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

h1,
h2,
h4 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(19.375rem, 1fr));
  gap: 1.25rem;
  height: 100%;
  max-height: calc(100vh - 13.75rem);
}

.flex {
  display: flex;
  gap: 10px;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.border-none {
  border: none;
}

.btn {
  color: #000;
  rotate: 90deg;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 40rem /* 640px */) {
  .board {
    flex-direction: row;
  }
}

.board-wrapper {
  flex: 1;
  border-radius: 0.75rem;
  padding: 20px;
  background-color: #fff;
  overflow-x: scroll;
}

.column {
  padding: 0.75rem;
  border-radius: 0.5rem;
  overflow-y: hidden;

  .card-container {
    max-height: calc(100vh - 18.75rem);
    overflow-y: scroll;
  }
}

.column-header {
  font-weight: bold;
  padding: 0 0.75rem 0.75rem 0.75rem;
}

.issue-card {
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  border: solid 2px rgb(238, 238, 238);
  cursor: pointer;
  min-width: 15.625rem;
}

.issue-card:hover {
  border: solid 2px rgba(9, 131, 238);
}

.page-header {
  margin-bottom: 0.625rem;

  .header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .filter-wrapper {
    flex-direction: column;
  }

  .filters {
    display: flex;
    gap: 10px;
  }
}
@media (width >= 40rem /* 640px */) {
  .page-header > .filter-wrapper {
    flex-direction: row;
  }
}

.input {
  border: solid thin gray;
  padding: 0.438rem;
  border-radius: 7px;
  width: 100%;
}

.tag {
  border: solid thin rgba(0, 0, 0, 0.3);
  padding: 2px 5px;
  border-radius: 8px;
  background-color: #eee;
}

.priority {
  border: solid thin;
  padding: 1px 5px;
  border-radius: 5px;
}

.priority-high {
  background-color: rgb(255, 0, 0, 0.2);
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}
.priority-medium {
  background-color: rgb(255, 165, 0, 0.2);
  color: rgb(255, 165, 0);
  border-color: rgb(255, 165, 0);
}
.priority-low {
  background-color: rgb(0, 0, 255, 0.2);
  color: rgb(0, 0, 255);
  border-color: rgb(0, 0, 255);
}

.sidebar {
  min-width: 18rem;
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 0.125rem;
  height: calc(100vh - 11.875rem);

  .header {
    background-color: var(--background);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    padding: 1.125rem;
  }

  .content {
    padding: 1.125rem;
  }

  .item {
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: var(--background);
    border-radius: 0.75rem;
    cursor: pointer;
    border: solid 2px var(--background);
  }

  .item:hover {
    border: solid 2px #8fb8f6;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.ellipsize {
  text-overflow: ellipsis;
  overflow: auto;
  white-space: no-wrap;
}

.skeleton-loader {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 0.25rem;
  background-color: #e5e7eb;
  height: 1rem;
  margin-bottom: 1rem;
}
