body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.25rem;
}

.column {
  background-color: #eee;
  padding: 0.75rem;
  border-radius: 0.5rem;
  max-height: calc(100vh - 7.5rem);
  overflow-y: scroll;
}

.column-header {
  font-weight: bold;
  padding: 0 0.75rem 0.75rem 0.75rem;
}

.issue-card {
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.page-header {
  margin-bottom: 1.25rem;

  .header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .filters {
    display: flex;
    gap: 10px;
  }
}

.input {
  border: solid thin gray;
  padding: 0.438rem;
  border-radius: 7px;
  width: 100%;
}
