:root {
  --background: #f1f2f4;
  --foreground: #000000;
  --background-medium: #ffffff;
}

.dark {
  --background: #101204;
  --foreground: #ffffff;
  --background-medium: #242528;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h4 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.navigation {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-medium);
}

.navigation a {
  color: var(--foreground);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(19.375rem, 1fr));
  gap: 1.25rem;
  height: 100%;
  max-height: calc(100vh - 13.75rem);
}

.flex {
  display: flex;
  gap: 0.625rem;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.clear-btn {
  border: none;
  color: #000;
  padding: 0;
  background-color: transparent;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media (width >= 40rem /* 640px */) {
  .board {
    flex-direction: row;
  }
}

.board-wrapper {
  flex: 1;
  border-radius: 0.75rem;
  padding: 1.25rem;
  background-color: var(--background-medium);
  overflow-x: scroll;
}

.column {
  padding: 0.75rem;
  border-radius: 0.5rem;

  .card-container {
    max-height: calc(100vh - 18.75rem);
    overflow-y: scroll;
  }
}

.column-header {
  font-weight: bold;
  padding: 0 0.75rem 0.75rem 0.75rem;
}

.issue-card {
  background-color: var(--background-medium);
  padding: 0.75rem;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  border: solid 0.125rem var(--background-medium);
  cursor: pointer;
  min-width: 15.625rem;
}

.issue-card:hover {
  border: solid 0.125rem #8fb8f6;
}

.page-header {
  margin-bottom: 0.625rem;

  .header {
    display: flex;
    gap: 0.625rem;
    justify-content: space-between;
    align-items: center;
  }

  .filter-wrapper {
    flex-direction: column;
  }

  .filters {
    display: flex;
    gap: 0.625rem;
  }
}
@media (width >= 40rem /* 640px */) {
  .page-header > .filter-wrapper {
    flex-direction: row;
  }
}

.input {
  border: solid thin gray;
  padding: 0.438rem;
  border-radius: 0.438rem;
  width: 100%;
  background-color: var(--background-medium);
  color: var(--foreground);
}

.tag {
  border: solid thin var(--foreground);
  padding: 0.125rem 0.625rem;
  border-radius: 0.5rem;
  background-color: var(--background-medium);
}

.priority {
  border: solid thin;
  padding: 0.063rem 0.313rem;
  border-radius: 0.313rem;
}

.priority-high {
  background-color: rgb(255, 0, 0, 0.2);
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}
.priority-medium {
  background-color: rgb(255, 165, 0, 0.2);
  color: rgb(255, 165, 0);
  border-color: rgb(255, 165, 0);
}
.priority-low {
  background-color: rgb(0, 0, 255, 0.2);
  color: rgb(0, 0, 255);
  border-color: rgb(0, 0, 255);
}

.sidebar {
  min-width: 18rem;
  background-color: var(--background-medium);
  border-radius: 0.75rem;
  padding: 0.125rem;
  height: calc(100vh - 11.875rem);

  .header {
    background-color: var(--background);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    padding: 1.125rem;
  }

  .content {
    padding: 1.125rem;
  }

  .item {
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: var(--background);
    border-radius: 0.75rem;
    cursor: pointer;
    border: solid 0.125rem var(--background);
  }

  .item:hover {
    border: solid 0.125rem #8fb8f6;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.ellipsize {
  text-overflow: ellipsis;
  overflow: auto;
  white-space: no-wrap;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.input-wrapper {
  display: flex;
  width: 100%;
}

.input {
  border-radius: 0.5rem;
  margin-top: 0.313rem;
  min-height: 1.375rem;
}

.checkbox {
  padding: 0.5rem;
  border-radius: 0.063rem;
  transform: scale(1.5);
}

.label {
  margin-left: 0.625rem;
}

.button {
  min-height: 2.25rem;
  border-radius: 0.5rem;
  border: solid thin gray;
  padding: 0 0.625rem;
}

.card {
  background-color: var(--background-medium);
  padding: 1.25rem;
  border-radius: 0.75rem;
}
